* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(234, 227, 220);
  height: 3000px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%; /*Make sure Take all of her parent element(body)on all different devices .*/
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(206, 205, 205);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(243, 172, 172, 0.15); /* Adds a subtle shadow for depth, optional */
}
.logo-container {
  width: 120px; /* Put condition for smaller or biger divice*/
  background-color: rgb(181, 179, 172);
  height: 100%;
}
.logo {
  color: rgb(50, 21, 77);
  font-size: xx-small;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.navbar li {
  margin: 15px;
}
.navbar a {
  font-size: 16px;
  color: rgb(23, 22, 22);
  font-weight: 700;

  text-decoration: none;
}
.navbar a:hover {
  background-color: rgb(184, 175, 175);
  padding: 5px 10px;
  border-radius: 16px;
  transition: 0.15s;
}

.navbar a:active {
  background-color: rgb(166, 162, 162);
  padding: 10px 10px;
  border-radius: 16px;
  transition: 0.15s;
}

button {
  background-color: rgb(168, 166, 166);

  font-size: 16px;
  padding: 10px 12px;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(187, 181, 181);
  transition: 0.15s;
  padding: 15px 18px;


}
button:active{
    padding: 18px 24px ;
   




}
p{
    margin-top: 120px;
    margin-left: 20px;
}
